@use "src/themes" as *;

.left-header-container {
  display: flex;
  align-items: center;

  .logo-container {
    display: flex;
    align-items: center;

    nb-icon {
      font-size: xx-large;
      margin-right: 1.25rem;
    }

    .header-name {
      font-size: x-large;
      margin-right: 1.25rem;
    }

  }

  .theme-select-container {
    display: flex;
    align-items: center;
  }


}

