<ng-container *ngIf="headerData">
  <div class="left-header-container">
    <div class="logo-container">
      <nb-icon icon="menu-outline" matRipple (click)="toggleCompact()"></nb-icon>
      <div class="header-name">{{headerData.headerName}}</div>
    </div>
    <div class="theme-select-container">
      <nb-select (selectedChange)="changeThemeOnClick($event)"
                 [(selected)]="selectedTheme"
                 placeholder="Select Showcase">
        <nb-option value="dark">Dark</nb-option>
        <nb-option value="default">Default</nb-option>
        <nb-option value="cosmic">Cosmic</nb-option>
        <nb-option value="corporate">Corporate</nb-option>
      </nb-select>
    </div>
  </div>
</ng-container>

