.left-header-container {
  display: flex;
  align-items: center;
  width: auto;
}

.logo-container {
  display: flex;
  align-items: center;
}

nb-icon {
  font-size: xx-large;
}

.theme-select-container {
  display: flex;
  align-items: center;
}
